@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}

p {
    color: hsl(224, 23%, 55%);
    font-size: 16px;
}

h1 {
    color: hsl(223, 47%, 23%);
}

strong {
    color: hsl(223, 47%, 23%);
}

a {
    color:hsl(245, 75%, 52%);
    transition: 0.2s;
    text-decoration: none;
}

a:hover {
    color: hsl(224, 23%, 55%); 
    transition: 0.2s;
    text-decoration: none;
}

.underLine {
    text-decoration: underline;
}

.underLine:hover {
    text-decoration: underline;
}

#white {
    color: hsl(225, 100%, 98%)
}

#grey {
    color: hsl(224, 23%, 55%);
    transition: 0.2s;
}

#grey:hover {
    color:hsl(223, 47%, 23%);
    transition: 0.2s;
}

body {
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

main {
    background-color: hsl(225, 100%, 100%);
    width: 360px;
    height: 550px;
    border-radius: 12px;
    box-shadow: 3px 15px 15px hsl(224, 23%, 75%);
    z-index: 2;
    position:relative;
    animation: fadeIn;
    animation-duration: 2s;
}

.topImg {
    height: 30%;
    background-image: url(images/illustration-hero.svg);
    background-size: cover;
    border-radius: 12px 12px 0 0;

}

.mainContent {
    margin: 25px;

}


.annualPlan {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
    margin: 15px 0 30px;
    border-radius: 7px;

}

.annualImg {
    background-image: url(images/icon-music.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35px;
    width: 35px;
}


.annualChange {
    align-self: center;
 
}

.proceed {
    background-color: hsl(245, 75%, 52%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px hsl(224, 23%, 75%);
    margin: 15px 0 30px; 
    transition: 0.5s;
}

.proceed:hover {
    background-color: hsl(224, 23%, 55%);
    transition: 0.5s;
}

.cancel {
    color: hsl(224, 23%, 55%);
}

@keyframes fadeIn {
    0% { top: -500px;}
    100% {top: 0px;}
}

/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900
 */